<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <h1> Hello World </h1>
 <br> {{date}}
 <br> {{date|date:'D'}}
 <br> {{date|date:'l'}}
 <br> {{date|date:'d'}}
 <br> {{date|date:'D d'}}
 <br> {{date|date:'Y / N'}}
 <br> {{Text|upper}}
 <p> {{Time_since|timesince}} agooo </p>
 <br> {{Time_till|timeuntil}}
 <br> {{Text1|title}}
 <ol>
      <li>one</li>
      <li>two</li>
 </ol>
 <ul>
     <li>one</li>
     <li>two</li>
 </ul>
 <br> {{Order_list|unordered_list}}
</body>
</html>